@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT&family=Playwrite+VN:wght@100..400&display=swap');

:root{
    --fonte: "Playwrite PT", cursive; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para tema claro */
body.light-theme {
    --bg-color: #f0f0f0; /* Cor de fundo clara */
    --text-color: #333; /* Cor do texto escura */

    .home-white, .search-white, .reels-white, .create-white{
        display: none;
    }

    img[src="img/logo.png"]{
        border: 3px solid black;
        border-radius: 50px;
    }

    .navbar, header{
        background-color: #ffffff;
    }
    
    .foot{
        background-color: #dddddd;
    }

    .post{
        background-color: #e9e9e9;
    }
}

/* Estilos para tema escuro */
body.dark-theme {
    --bg-color: #333; /* Cor de fundo escura */
    --text-color: #f0f0f0; /* Cor do texto clara */
    
    .home, .search, .reels, .create{
        display: none;
    }

    img[src="img/logo.png"]{
        border: 3px solid white;
        border-radius: 50px;
    }

    .navbar, header{
        background-color: #000000;
    }
    
    .foot{
        background-color: #0e0e0e;
    }

    .post{
        background-color: #242424;
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    text-align: center;
}

footer{
    color: var(--text-color);
    background-color: var(--bg-color);
    border-bottom: 1px solid #dbdbdb;
    top: 0;
    width: 100%;
    text-align: center;
}

.redes a, .local a{
    text-decoration: none;
    color: black;
}

header .logo {
    float: left;
}

header .icons {
    float: right;
}

header .icons img {
    margin-left: 15px;
}

h1 {
    color: var(--text-color);
}

.add, .send {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.logo img {
    float: left;
}

.post img {
    border-radius: 5px;
}

i, a{
    cursor: pointer;
}

.post{
    padding: 10px;
    margin: 0;
    background-color: var(--bg-color)
}

.product {
    border-bottom: 1px solid #eee;
}

.frase{
    font-family: var(--fonte);
}

.theme{
    float: right;
    padding: 5px;
    margin: -25px 10px 10px 10px;
}

.navbar{
    color: var(--text-color);
    background-color: var(--bg-color);
}

.remove{
    background-color: rgb(255, 0, 0);
    color: white;
}

section#cart {
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    cursor: pointer;
    background-color: transparent;
}

a[href="https://www.instagram.com/stor.ecaroline/"], a[href="https://wa.me/5541988240799"]{
    background-color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 10px;
}

a[href="https://www.instagram.com/stor.ecaroline/"]:hover{
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
}

a[href="https://wa.me/5541988240799"]:hover{
    background-color: rgb(38, 238, 38);
    padding: 10px;
    border-radius: 10px;
}

@media (min-width: 200px){    
    header {
        padding: 10px 0;
    }

    header .logo {
        width: 100px;
    }
    
    header .icons img {
        margin-left: 15px;
    }

    main {
        margin-top: 10px;
        margin-bottom: 24px;
    }
    
    h1{
        margin-bottom: 5px;
        font-size: 24px;
    }

    h3{
        font-size: 16px;
    }

    h2{
        font-size: 18px;
    }

    span {
        margin: 0px 0px 0px 10px;
    }
    
    button {
        padding: 10px;
    }

    footer h1{
        font-size: 18px;
    }

    li{
        font-size: 14px;
        padding: 5px;
        margin-left: 50px;
        float: left;
    }

    h3, h2{
        margin-right: 77px;
    }

    .preco, .ptotal{
       margin-right: 90px;
    }

    .add{
        margin-right: 66px;
    }

    .send {
        margin-right: 80px;
    }

    .logo, .home1, .search1, .explore1, .reels1, .messenger1, .notifs1, .create1, .profile1, .rls, .pagI, .exp, .msg, .ntfs, .criar, .prof, .pesq {
        display: none;
    }
    
    .post img {
        width: 50%;
    }

    .hora{
        margin: 15px 0px 0px 0px;
        float: center;
    }

    .local{
        margin: 10px 10px 0px 0px;
    }

    .locali{
        color: rgb(0, 195, 255);
    }

    .foot{
        padding: 20px;
        color: var(--text-color);
        background-color: var(--bg-color);
        height: 275px;
    }

    .footer, .local{
        font-size: 12px;
        color: var(--text-color);
    }

    .carrinho, .lista{
        float: center;
        padding: 20px;
    }

    .user{
        font-weight: bold;
        margin-right: 30px;
    }

    .direito{
        margin-top: 10px;
        font-size: 12px;
    }

    .frase{
        font-size: 22px;
        color: var(--text-color);
    }

    .navbar{
        padding: 10px;
        width: 100%;
        bottom: 0;
        position: fixed;
        clear: both;
        display: flex;
        justify-content: space-between;
    }

    img[src="img/carrinho-de-compras.png"], img[src="img/pedido.png"]{
        width: 70px;
        float: left;
        margin: 20px 0px 0px 50px;
    }

    i[class="fa-solid fa-angle-left fa-2xl"]{
        padding: 10px;
        float: left;
    }

    i[class="fa-solid fa-circle-chevron-left fa-2xl"]{
        float: left;
        margin: 90px 0px 0px 50px;
    }

    i[class="fa-solid fa-circle-chevron-right fa-2xl"]{
        float: right;
        margin: 90px 50px 0px 0px;
    }
}

/* 480px - 768px = tablet */
@media (min-width: 480px){
    .user, i[class="fa-solid fa-angle-left fa-2xl"], i[class="fa-solid fa-lightbulb fa-2xl"], .home, .home-white, a[href="search.html"], a[href="reels.html"], a[href="criar.html"], a[href="index.html"] {
        display: none;
    }

    .home1, .search1, .explore1, .reels, .messenger1, .notifs, .create1, .profile1 {
        display: block;
    }


}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px){

}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px){
    header {
        padding: 10px 0;
        z-index: 1000;
        margin-bottom: 20px;
    }
    
    header .logo {
        width: 100px;
    }
    
    header .icons img {
        margin-left: 15px;
    }
    
    main {
        margin-top: 60px;
        padding-top: 20px;
    }
    
    a {
        margin: 0px 10px 0px 0px;
    }
    
    a:hover {
        padding: 15px 15px 0px 0px;
    }
    
    span {
        margin: -1000px 0px 0px 10px;
    }
    
    button {
        padding: 10px;
    }
    
    .logo img {
        margin-left: 130px;
    }
    
    .post img {
        width: 30%;
    }
    
    .prev, .next {
        padding: 8px;
    }
    
    .prev {
        margin: 210px 0px 0px 400px;
    }
    
    .next {
        margin: 210px 400px 0px 0px;
    }
    
    .product {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .hora{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* 1200 e + = telas maiores, tvs */
@media (min-width: 1200px){
    header {
        padding: 10px 0;
        z-index: 1000;
        margin-bottom: 20px;
    }
    
    header .logo {
        width: 100px;
    }
    
    header .icons img {
        margin-left: 15px;
    }
    
    main {
        margin-top: 60px;
        padding-top: 20px;
    }
    
    a {
        margin: 0px 10px 0px 0px;
    }
    
    a:hover {
        padding: 15px 15px 0px 0px;
    }
    
    span {
        margin: -1000px 0px 0px 10px;
    }
    
    button {
        padding: 10px;
    }
    
    .logo img {
        margin-left: 130px;
    }
    
    .post img {
        width: 30%;
    }
    
    .prev, .next {
        padding: 8px;
    }
    
    .prev {
        margin: 210px 0px 0px 400px;
    }
    
    .next {
        margin: 210px 400px 0px 0px;
    }
    
    .product {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}